---

---

<div
  class="flex h-[calc(100svh-3.8125rem)] flex-col gap-2"
  x-data="order"
  @product-updated="productUpdated"
>
  <div
    x-cloak
    x-transition
    x-show="returnMode"
    class="bg-red-200 px-2 py-1 text-center text-sm text-red-800"
  >
    Mode retour activé
  </div>
  <div class="grow overflow-y-auto">
    <div class="grid grid-cols-2 gap-1">
      <slot />
    </div>
  </div>
  <div class="flex shrink-0 items-center gap-2">
    <!-- More menu -->
    <button
      type="button"
      class="grow"
      :class="{ 'btn-error': price < 0, 'btn-solid': price >= 0 }"
      @click="focusCheckoutInput()"
      :disabled="price == 0"
    >
      <lce-price :price="price"></lce-price>
    </button>
  </div>
  <div x-show="showCheckout" x-cloak x-transition class="flex flex-col gap-1">
    <input hidden :type="showCheckout ? 'submit' : 'text'" class="hidden" />
    <input
      x-ref="checkout"
      x-model="paid"
      type="number"
      class="w-full"
      @blur="showCheckout=false"
      placeholder="Montant reçu : "
      step="0.01"
      min="0"
    />
    <p class="text-xl font-bold" x-show="getGiveBack() < 0">
      <span>Total à régler : </span>
      <span x-text="printPrice(-getGiveBack())"></span>
    </p>
    <p class="text-xl font-bold" x-show="getGiveBack() >= 0">
      <span>Total à rendre : </span>
      <span x-text="printPrice(getGiveBack())"></span>
    </p>
  </div>
</div>
